
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E1B14;
}

.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
  }

#fullback{
    position: relative;
    margin: 0px;
    box-sizing: border-box;
    background-image: url('./resources/pexels-olly-3771055.jpg');
    background-size: cover;
    height: 100vh;
    width: 80vw;
    left:10vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#heroHeader{
    position: absolute;
    width: 100%;
    color: white;
    font-size:9em;
    top: 5vh;
    left: 1%;
    animation: flickerAnimation .5s infinite;
}

#subScript{
    position:absolute;
    color: white;
    font-size: 3em;
    width:35vw;
    top: 50vh;
    left: 4vw;
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    
}

#heroContainer{
    width: 39vw;
    flex-direction: column;
    margin: 2%;

}

#signUpContainer{
    position: absolute;
    color: white;
    height: 100vh;
    width: 600px;
    right: 0px;
    background-color: rgba(55,55,55,0.88);
    animation: moveInLeft 0.3s 1 forwards ease;
    flex: none;

    &:hover{
        background-color: rgba(55,55,55,0.95);
        box-shadow: 0 0 15px #fcc755;;
    }   
}

#seperator{
    position: absolute;
    height: 45%;
    top: 10%;
    border-left: 1px solid rgb(255, 255, 255);
    left: 40%;
}

#myform{
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 600px;

}

#inputholder{
    position: absolute;
    top: 10vh;
    left: calc(50%);
    & input{
        margin-bottom: 18.5%;
        font-size: 1.5em;
        border: none;
        border-radius: 30px;
        
    } 
    
    & input:hover{

        box-shadow: 0 0 15px #fcc755;

    }

    & select{

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: none;
        border-radius: 30px;
        font-size: 1.5em;
        text-align: center;
        width: 100%;

    }

    & select:hover{

        box-shadow: 0 0 15px #fcc755;

    }
}

input{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    &:invalid{
        box-shadow: 0 0 10px red;
    }
}

#labelholder{
    text-align: right;
    position: absolute;
    right: calc(50% + 110px);
    top: 10vh;
}

#labelholder label{
    display: block;
    font-size: 1.5em;
    padding-bottom: 24%;

    &:hover{
        text-shadow: 0 0 15px #fcc755;
    }
}

#submitButton{
    position: absolute;
    display: block;
    left:33%;
    top: 70vh;
    width: 33%;
    height: 10%;
    border: none;
    border-radius: 30px;
    font-family: "Lobster", serif;
    font-size: 1.7em;
    color: rgba(55,55,55,0.95);

    &:hover{
        text-shadow: 0 0 15px #fcc755;
        box-shadow: 0 0 15px #fcc755;
    }
}

#footerText{
    position: absolute;
    width: 100%;
    top:115%;
    text-align: center;
    font-family: "Lobster", serif;

    & a:link{
        color: #fcc755;
    }

    & a:visited{
        color: #f7a901
    }

    & a:hover{
        color: white;
        text-shadow: 0 0 15px #fcc755;
    }

    & a:active{
        color: #000;
    }
}


@keyframes moveInLeft {
    from{
        transform: scale(0);
    }
    to {
        transform: scale(50vw);
    }
}

@keyframes flickerAnimation {
    0%   { text-shadow: 0 0 15px #fcc755; }
    50%  { text-shadow: none; }
    100% { text-shadow: 0 0 15px #fcc755; }
}
