
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Vogue';
    src: url('./fonts/Vogue.ttf') format('.ttp');
}

#heroHeader{
    position: relative;
    font-family: 'Vogue';
    color: white;
    font-size: 5em;
    left: 1%;
    text-shadow: 0 0 3px #000000, 0 0 5px #9b7329;
}

#subScript{
    position: relative;
    font-family: 'Vogue';
    color: white;
    font-size: 2em;
    left: 1%;
    width: 45%;
    text-shadow: 0 0 3px #000000, 0 0 5px #9b7329;
}

#fullback{
    margin: 0px;
    box-sizing: border-box;
    background-image: url('./resources/pexels-olly-3771055.jpg');
    background-size: cover;
    height: 100vh;
    width: auto;
    overflow: hidden;
}

#signUpContainer{
    position: absolute;
    top: 10%;
    right: 5%;
    height: 80vh;
    width: 40vw;
    background-color: rgba(55,55,55,0.88);
    animation: moveInLeft 0.3s 1 forwards ease;
    border-radius: 60px;

    &:hover{
        background-color: rgba(55,55,55,0.95);
    }   
}

@keyframes moveInLeft {
    from{
        transform: scale(0);
    }
    to {
        transform: scale(50vw);
    }
}
